<% content_for :title, "Volunteers" %>

<div id="volunteers" class="col-12 justify-content-left">
    <%= link_to new_volunteer_path, class: 'btn btn-primary' do %>
        <i class="bi bi-plus-circle-fill"></i> New Volunteer
    <% end %>
    <%= render partial: 'volunteers/volunteer_list' %>
</div>
