<% content_for :title, "Volunteer #{@volunteer.id}: #{@volunteer.username}" -%>

<div>
    <%= link_to "Edit", edit_volunteer_path(@volunteer), class: 'btn btn-primary' %>
</div>

<%= render @volunteer %>

<%
    # this creates a form that submits to the method delete
%>
<%= button_to "Delete Account",
  @volunteer,
  method: :delete,
  class: 'btn btn-danger',
  form: { data: {
      turbo_confirm: 'Are you sure?'
  } }
%>
