<div id="<%= dom_id admin %>">
  <h3>
    User: <%= admin.username %>
  </h3>

  <div class="pt-3">
    <strong>Name:</strong> <%= admin.name %>
  </div>

  <div class="pt-3">
    <strong>Email:</strong> <%= admin.email %>
  </div>
</div>
