<p style="color: green"><%= notice %></p>

<div class="container-fluid">
    <%= render @admin %>

    <div class="pt-3">
      <%= link_to "Edit Profile", edit_admin_path(@admin), class: 'btn btn-primary' %>
    </div>
</div>