<header class="px-3 py-2 text-bg-dark border-bottom">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid justify-content-lg-start">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li>
                        <%= link_to root_path, class: "nav-link", 'aria-current' => 'page' do %>
                            <i class="bi bi-house-fill"></i> Home
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-calendar-event-fill"></i> Events
                        </a>
                    </li>
                </ul>
                <div class="text-end">
                    <%=
                    if @volunteer.nil? || @admin.nil?
                        render partial: 'home/components/notsignedin'
                    else
                        render partial: 'home/components/signedin'
                    end
                    %>
                </div>
            </div>
        </div>
    </nav>
</header>
