<h3>Events</h3>

<% if @events.none?(&:open?) %>
  <p class="text-danger">There are no events open for signup at this time. Check back soon! </p>
<% end %>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New Event", new_event_path %>
