<% if ! flash.empty? %>
    <div>
        <% flash.each do |k,v| %>
            <div id="alert-<%= k %>" role="alert" class="alert alert-dismissable fade show alert-<%= (k.eql?('notice') ? 'success' : 'danger') %>">
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <%= v %>
            </div>
        <% end %>
    </div>
    <script type="text/javascript">
        setTimeout(() => {
            document.querySelectorAll('.alert').forEach(alertElement => {
                bootstrap.Alert.getOrCreateInstance(alertElement).close();
            })
        }, 5000);
    </script>
<% end %>
<%# unless notice.nil? %>
<!--    <div class="alert alert-success" id=”notice”>-->
        <%#=  notice  %>
<!--    </div>-->
<%#  end %>
