<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <%= link_to "#{@volunteer.full_name}", '#', class: "nav-link dropdown-toggle", 'data-bs-toggle' => "dropdown", 'aria-expanded' => "false" %>
        <ul class="dropdown-menu dropdown-menu-end text-small">
            <li>
                <%= link_to @volunteer, class: "dropdown-item" do %>
                    <i class="bi bi-person-circle"></i> Profile
                <% end %>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <%= link_to logout_path, class: "dropdown-item" do %>
                    Sign out
                <% end %>
            </li>
        </ul>
    </li>
</ul>
