<h3>Volunteer assignments</h3>

<div id="volunteer_assignments" class="col-12 justify-content-left">
    <%= link_to new_volunteer_assignment_path, class: 'btn btn-primary' do %>
        <i class="bi bi-plus-circle-fill"></i> New Volunteer Assignment
    <% end %>
    <% if @volunteer_assignments.nil? %>
    No Volunteer Assignments Found
    <% else %>
    <%= render partial: 'volunteer_assignments/assignments_list' %>
    <% end %>
</div>